* {
  box-sizing: border-box;
}

:root {
  /* FONTS */
  --ff-primary: "Raleway", sans-serif;
  --ff-secondary: "Bakbak One", sans-serif;

  --fw-bold: 900;
}

/* ----------- General -------------- */
body {
  background-color: #55BCC9;
}
/* ----------- Header -------------- */
#header {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-size: 70px;
  letter-spacing: 4px;
  font-weight: var(--fw-bold);
  font-family: var(--ff-secondary);
  color: white;
  background-color: #F08080;
}

h2{
  display: flex;
  justify-content: center;
  margin-top: 28px;
  font-family: var(--ff-primary);
  font-size: 35px;
  letter-spacing: 2.5px;
  color: black;
  font-weight: var(--fw-bold);
}

/* ----------- Navbar css -------------- */
#navbar-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.navbar-title{
  font-size: 14px;
}

h3 {
  justify-content: space-evenly;
  font-size: 14px;
  color: white;
  margin-top: 0px;
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-decoration: none;
  font-family: var(--ff-primary);
}

h3:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  font-weight: var(--fw-bold);
  border-radius: 20px;
  padding: 5px;
}

.link{
  text-decoration: none;
}

/* ----------- Map css -------------- */
#main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  margin-bottom: 25px;
}

/* ----------- Restaurant info css -------------- */
li{
 display: flex;
 flex-direction: column;
 width: 45vw;
 padding: 12px;
 letter-spacing: 0.7px;
 background-color: lightseagreen;
 box-sizing: border-box;
 border-color: black 3px;
 color: black;
}
